@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to MeAppointement") {
    <div id="meappointement">
        <div  class="row">
            <div class="col-md-9">
                <h3 class="header__title">
                    MeAppointement
                </h3>
            </div>
            <div id="login" class="col-md-3 text-right ">
                <a class="btn btn-default" href="@routes.Users.newLogin()">Login</a>
                <a class="btn btn-default" href="@routes.Users.newUser()"> <i class="icon-plus"></i> Sign up</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <br><br><br><br><br><br><br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@routes.Assets.versioned("images/img.jpg")" width="150" height="150" alt="..." class="img-rounded">
                    </div>
                    <div class="col-md-9">
                        <p class="text-left">
                            MeAppointement est une application de prise de rendez-vous au niveau des medecins, afin d'éviter
                            des queues dans les hopitaux, savoir les centres de santé qui possède des spécialités données.
                            Bientot tous vos soucis de consultation ne seront que des mauvais souvenirs.
                        </p>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@routes.Assets.versioned("images/img.jpg")" width="150" height="150" alt="..." class="img-rounded">
                    </div>
                    <div class="col-md-9">
                        <p class="text-left">
                            MeAppointement est une application de prise de rendez-vous au niveau des medecins, afin d'éviter
                            des queues dans les hopitaux, savoir les centres de santé qui possède des spécialités données.
                            Bientot tous vos soucis de consultation ne seront que des mauvais souvenirs.
                        </p>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@routes.Assets.versioned("images/img.jpg")" width="150" height="150" alt="..." class="img-rounded">
                    </div>
                    <div class="col-md-9">
                        <p class="text-left">
                            MeAppointement est une application de prise de rendez-vous au niveau des medecins, afin d'éviter
                            des queues dans les hopitaux, savoir les centres de santé qui possède des spécialités données.
                            Bientot tous vos soucis de consultation ne seront que des mauvais souvenirs.
                        </p>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@routes.Assets.versioned("images/img.jpg")" width="150" height="150" alt="..." class="img-rounded">
                    </div>
                    <div class="col-md-9">
                        <p class="text-left">
                            MeAppointement est une application de prise de rendez-vous au niveau des medecins, afin d'éviter
                            des queues dans les hopitaux, savoir les centres de santé qui possède des spécialités données.
                            Bientot tous vos soucis de consultation ne seront que des mauvais souvenirs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
}
